* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Orbitron", sans-serif;
  background: rgb(255, 226, 159);
  background: linear-gradient(
    196deg,
    rgba(255, 226, 159, 1) 0%,
    rgba(208, 233, 107, 1) 100%
  );
}

h1 {
  text-align: center;
  margin: 2em 0.5em 1em;
}

.main-container {
  background-color: #535353;
  border-radius: 25px;
  max-width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 3px solid #171717;
  box-shadow: 0 3px 20px inset rgba(37, 37, 37, 0.7);
  margin: 0 auto;
  overflow: hidden;
  margin-top: 7em;
}

.screen-container {
  background-color: #c1d2c0;
  border-radius: 12px;
  box-shadow: 0 2px 13px inset rgba(0, 0, 0, 0.5);
  margin: 1.4em;
  flex-basis: 15%;
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin-bottom: 1em;
}

.tools-container button {
  flex-basis: 16%;
  border: none;
  border-radius: 10px;
  margin: 0.5em;
  font-size: 1.7em;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 2px 10px inset rgba(30, 30, 30, 0.4);
  transition: box-shadow ease-out 0.15s;
}

.tools-container button:active {
  outline: none;
  box-shadow: inset 0px 0px 10px #171717;
}

.tools-container button:first-child,
.tools-container button:nth-child(2) {
  flex-basis: 40%;
}

.tools-container button:last-child {
  background-color: #fbb556;
  color: #fff;
}

.result-output {
  text-align: right;
  height: 100%;
  width: 100%;
  font-size: 2.2em;
  padding: 0.4em 0.2em 0;
  overflow: hidden;
}
